<md-dialog aria-label="Select Period" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change Period for 2015</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-radio-group ng-model="data.group1">
                    <md-radio-button value="Q1Q1" class="md-primary"> Q1 </md-radio-button>
                    <md-radio-button value="Q1Q2" class="md-primary"> Q1 - Q2 </md-radio-button>
                    <md-radio-button value="Q1Q3" class="md-primary"> Q1 - Q3 </md-radio-button>
                    <md-radio-button value="Q1Q4" class="md-primary"> Q1 - Q4 </md-radio-button>
                </md-radio-group>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="closeDialog()" style="margin-right:20px;">
                Done
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>