<md-content layout-padding ng-controller="TotalsController as tc" style="padding: 8px 1px;">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
        <thead>
            <tr>
                <th rowspan="3" style="vertical-align: middle;">STAFF HEADCOUNT</th>
                <th colspan="4">Employees</th>
                <th colspan="4">Contractors</th>
                <th colspan="4">TOTAL</th>
                <th rowspan="2" colspan="2">Average Commitment
                    <br> to Company</th>
            </tr>
            <tr>
                <th colspan="2">End of Q4 2015</th>
                <th colspan="2">End of Q4 2014</th>
                <th colspan="2">End of Q4 2015</th>
                <th colspan="2">End of Q4 2014</th>
                <th colspan="2">End of Q4 2015</th>
                <th colspan="2">End of Q4 2014</th>
            </tr>
            <tr>
                <th>Head
                    <br>count</th>
                <th>FTEs</th>
                <th>Head
                    <br>count</th>
                <th>FTEs</th>
                <th>Head
                    <br>count</th>
                <th>FTEs</th>
                <th>Head
                    <br>count</th>
                <th>FTEs</th>
                <th>Head
                    <br>count</th>
                <th>FTEs</th>
                <th>Head
                    <br>count</th>
                <th>FTEs</th>
                <th>End of
                    <br>Q4 2015</th>
                <th>End of
                    <br>Q4 2014</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-total tr-total--link" ng-click="tc.showPhysicians=!tc.showPhysicians">
                <td id="Physicians" class="mdl-data-table__cell--non-numeric">
                    <i class="material-icons" ng-if="!tc.showPhysicians">add</i>
                    <i class="material-icons" ng-if="tc.showPhysicians">remove</i>Physicians</td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
                <td><strong>2</strong></td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showPhysicians" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Primary Care Physicians</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>200</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showPhysicians" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Specialists Physicians</td>
                <td>2</td>
                <td>2</td>
                <td>200</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total tr-total--link" ng-click="tc.showOperations=!tc.showOperations">
                <td class="mdl-data-table__cell--non-numeric">
                    <i class="material-icons" ng-if="!tc.showOperations">add</i>
                    <i class="material-icons" ng-if="tc.showOperations">remove</i><strong>Operations</strong></td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showOperations" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Nurses</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showOperations" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Technician Specialists & Lab Specialists</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showOperations" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Other Medical</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showOperations" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Operations Admin</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total__detail tr-total--link" ng-show="tc.showOperations" ng-click="vm.selectedIndex=1">
                <td class="mdl-data-table__cell--non-numeric">Operations HO & other OPS</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total no-icon">
                <td class="mdl-data-table__cell--non-numeric"><strong>Operations Medical</strong></td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total no-icon">
                <td class="mdl-data-table__cell--non-numeric"><strong>Operations Non-Medical</strong></td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr class="tr-total no-icon">
                <td class="mdl-data-table__cell--non-numeric"><strong>Grand TOTAL</strong></td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>

</md-content>