<md-content layout-padding>

    <div class="data-container" layout="column" flex="100">

        <!-- Header -->
        <div class="data-group grey-cells" flex="100">
            <div class="data-group__row" layout="row" flex style="height: 70px;">
                <div class="data-group__cell" flex="30" layout="row" layout-align="center center">
                    <strong>ACTIVE STAFF MEMBERS</strong>
                </div>
                <div class="data-group__header" flex="60" layout="row">
                    <div class="data-group__cell" flex layout="column">
                        <div class="data-group__row" flex layout="row" layout-align="center center">
                            <span><strong>Employees</strong></span>
                        </div>
                        <div layout="row" layout-align="space-around center">
                            <div class="data-group__cell" flex>
                                <strong>Headcount</strong>
                            </div>
                            <div class="data-group__cell data-group__cell--last" flex>
                                <strong>FTEs</strong>
                            </div>
                        </div>
                    </div>
                    <div class="data-group__cell" flex layout="column">
                        <div class="data-group__row" flex layout="row" layout-align="center center">
                            <span><strong>Contractors</strong></span>
                        </div>
                        <div layout="row" layout-align="space-around center">
                            <div class="data-group__cell" flex>
                                <strong>Headcount</strong>
                            </div>
                            <div class="data-group__cell data-group__cell--last" flex>
                                <strong>FTEs</strong>
                            </div>
                        </div>
                    </div>
                    <div class="data-group__cell" flex layout="column">
                        <div class="data-group__row" flex layout="row" layout-align="center center">
                            <span><strong>TOTAL</strong></span>
                        </div>
                        <div layout="row" layout-align="space-around center">
                            <div class="data-group__cell" flex>
                                <strong>Headcount</strong>
                            </div>
                            <div class="data-group__cell data-group__cell--last" flex>
                                <strong>FTEs</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="data-group__header" flex layout="row" layout-align="center center"><span><strong>Average Commitment to Company</strong></span></div>
            </div>
            <div class="data-group__row" layout="row" flex style="background-color: whiteSmoke;">
                <div class="data-group__cell line-header--group" flex="30"><strong>Grand TOTAL</strong></div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c2_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c2_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_3 + vm.c2_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_4 + vm.c2_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c1_3 + vm.c2_1 + vm.c2_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c1_4 + vm.c2_2 + vm.c2_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <!-- empty cell -->
                </div>
            </div>
            <div class="data-group__row data-group__row--last" layout="row" flex style="background-color: whiteSmoke;">
                <div class="data-group__cell line-header--group" flex="30"><strong>Average Commitment to Company</strong></div>
                <div class="data-group__cell" flex="20">
                    <span class="total">{{(vm.c1_2 + vm.c2_2)/(vm.c1_1 + vm.c2_1)*100 || 0 | number:0}}%</span>
                </div>
                <div class="data-group__cell" flex="20">
                    <span class="total">{{(vm.c1_4 + vm.c2_4)/(vm.c1_3 + vm.c2_3)*100 || 0 | number:0}}%</span>
                </div>
                <div class="data-group__cell" flex="20">
                    <span class="total">{{vm.c1_1 + vm.c2_1 || 0}}%</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{vm.c1_1 + vm.c2_1 || 0}}%</span>
                </div>
            </div>
        </div>

        <div class="data-splitter"></div>

        <!-- Physicians -->
        <div class="data-group blue-cells" flex="100">
            <div class="data-group__row" ng-class="{'data-group__row--last':!vm.showPhysicians}" layout="row" flex>
                <div class="data-group__cell line-header--group click" flex="30" ng-click="vm.showPhysicians=!vm.showPhysicians">
                    <span ng-if="!vm.showPhysicians"><i class="material-icons">add</i>Physicians</span>
                    <span ng-if="vm.showPhysicians"><i class="material-icons">remove</i>Physicians</span></div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c2_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c2_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_3 + vm.c2_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_4 + vm.c2_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c1_3 + vm.c2_1 + vm.c2_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c1_4 + vm.c2_2 + vm.c2_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c1_2 + vm.c1_4 + vm.c2_2 + vm.c2_4)/(vm.c1_1 + vm.c1_3 + vm.c2_1 + vm.c2_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showPhysicians">
                <div class="data-group__cell line-header" flex="30">Primary Care Physicians</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c1_1" ng-init="vm.c1_1=33" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c1_2" ng-init="vm.c1_2=21" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c1_3" ng-init="vm.c1_3=51" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c1_4" ng-init="vm.c1_4=23" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c1_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c1_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c1_2 + vm.c1_4)/(vm.c1_1 + vm.c1_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row data-group__row--last" layout="row" flex ng-show="vm.showPhysicians">
                <div class="data-group__cell line-header" flex="30">Specialists Physicians </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c2_1" ng-init="vm.c2_1=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c2_2" ng-init="vm.c2_2=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c2_3" ng-init="vm.c2_3=33" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c2_4" ng-init="vm.c2_4=12" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c2_1 + vm.c2_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c2_2 + vm.c2_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c2_2 + vm.c2_4)/(vm.c2_1 + vm.c2_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
        </div>

        <div class="data-splitter"></div>

        <!-- Operations -->
        <div class="data-group green-cells" flex="100">
            <div class="data-group__row" layout="row" flex>
                <div class="data-group__cell line-header--group click" flex="30" ng-click="vm.showOperations=!vm.showOperations">
                    <span ng-if="!vm.showOperations"><i class="material-icons">add</i>Operations</span>
                    <span ng-if="vm.showOperations"><i class="material-icons">remove</i>Operations</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_1 + vm.c4_1 + vm.c5_1 + vm.c6_1 + vm.c7_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_2 + vm.c4_2 + vm.c5_2 + vm.c6_2 + vm.c7_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_3 + vm.c4_3 + vm.c5_3 + vm.c6_3 + vm.c7_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_4 + vm.c4_4 + vm.c5_4 + vm.c6_4 + vm.c7_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_1 + vm.c4_1 + vm.c5_1 + vm.c6_1 + vm.c7_1 + vm.c3_3 + vm.c4_3 + vm.c5_3 + vm.c6_3 + vm.c7_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_2 + vm.c4_2 + vm.c5_2 + vm.c6_2 + vm.c7_2 + vm.c3_4 + vm.c4_4 + vm.c5_4 + vm.c6_4 + vm.c7_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c3_2 + vm.c4_2 + vm.c5_2 + vm.c6_2 + vm.c7_2 + vm.c3_4 + vm.c4_4 + vm.c5_4 + vm.c6_4 + vm.c7_4)/(vm.c3_1 + vm.c4_1 + vm.c5_1 + vm.c6_1 + vm.c7_1 + vm.c3_3 + vm.c4_3 + vm.c5_3 + vm.c6_3 + vm.c7_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOperations">
                <div class="data-group__cell line-header" flex="30">Nurses </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c3_1" ng-init="vm.c3_1=33" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c3_2" ng-init="vm.c3_2=21" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c3_3" ng-init="vm.c3_3=46" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c3_4" ng-init="vm.c3_4=71" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_1 + vm.c3_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c3_2 + vm.c3_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c3_2 + vm.c3_4)/(vm.c3_1 + vm.c3_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOperations">
                <div class="data-group__cell line-header" flex="30">Technician Specialists & Lab Specialists </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c4_1" ng-init="vm.c4_1=34" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c4_2" ng-init="vm.c4_2=23" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c4_3" ng-init="vm.c4_3=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c4_4" ng-init="vm.c4_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c4_1 + vm.c4_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c4_1 + vm.c4_3 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c4_2 + vm.c4_4)/(vm.c4_1 + vm.c4_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOperations">
                <div class="data-group__cell line-header" flex="30">Other Medical </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c5_1" ng-init="vm.c5_1=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c5_2" ng-init="vm.c5_2=51" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c5_3" ng-init="vm.c5_3=15" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c5_4" ng-init="vm.c5_4=25" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c5_1 + vm.c5_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c5_2 + vm.c5_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c5_2 + vm.c5_4)/(vm.c5_1 + vm.c5_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOperations">
                <div class="data-group__cell line-header" flex="30">Operations Admin </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c6_1" ng-init="vm.c6_1=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c6_2" ng-init="vm.c6_2=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c6_3" ng-init="vm.c6_3=44" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c6_4" ng-init="vm.c6_4=3" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_1 + vm.c6_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_2 + vm.c6_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c6_2 + vm.c6_4)/(vm.c6_1 + vm.c6_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOperations">
                <div class="data-group__cell line-header" flex="30">Operations HO & other OPS</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c7_1" ng-init="vm.c7_1=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c7_2" ng-init="vm.c7_2=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c7_3" ng-init="vm.c7_3=44" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c7_4" ng-init="vm.c7_4=3" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c7_1 + vm.c7_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c7_2 + vm.c7_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c7_2 + vm.c7_4)/(vm.c7_1 + vm.c7_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>

            <div class="data-group__row" layout="row" flex>
                <div class="data-group__cell line-header--group" flex="30">Operations Medical
                    <md-tooltip md-direction="right">
                        Total Phycicians + Nurses + Technician Specialists & Lab Specialists + Other Medical
                    </md-tooltip>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c2_1 + vm.c3_1 + vm.c4_1 + vm.c5_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c2_2 + vm.c3_2 + vm.c4_2 + vm.c5_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_3 + vm.c2_3 + vm.c3_3 + vm.c4_3 + vm.c5_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_4 + vm.c2_4 + vm.c3_4 + vm.c4_4 + vm.c5_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_1 + vm.c2_1 + vm.c3_1 + vm.c4_1 + vm.c5_1 + vm.c1_3 + vm.c2_3 + vm.c3_3 + vm.c4_3 + vm.c5_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c1_2 + vm.c2_2 + vm.c3_2 + vm.c4_2 + vm.c5_2 + vm.c1_4 + vm.c2_4 + vm.c3_4 + vm.c4_4 + vm.c5_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c1_2 + vm.c2_2 + vm.c3_2 + vm.c4_2 + vm.c5_2 + vm.c1_4 + vm.c2_4 + vm.c3_4 + vm.c4_4 + vm.c5_4)/(vm.c1_1 + vm.c2_1 + vm.c3_1 + vm.c4_1 + vm.c5_1 + vm.c1_3 + vm.c2_3 + vm.c3_3 + vm.c4_3 + vm.c5_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row data-group__row--last" layout="row" flex>
                <div class="data-group__cell line-header--group" flex="30">Operations Non-medical
                    <md-tooltip md-direction="right">
                        Operations Admin + Operations HO & other OPS
                    </md-tooltip>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_1 + vm.c7_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_2 + vm.c7_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_3 + vm.c7_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_4 + vm.c7_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_1 + vm.c6_3 + vm.c7_1 + vm.c7_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c6_2 + vm.c6_4 + vm.c7_2 + vm.c7_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c6_2 + vm.c6_4 + vm.c7_2 + vm.c7_4)/(vm.c6_1 + vm.c6_3 + vm.c7_1 + vm.c7_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
        </div>

        <div class="data-splitter"></div>

        <!-- Commercial -->
        <div class="data-group orange-cells" flex="100">
            <div class="data-group__row" ng-class="{'data-group__row--last':!vm.showCommercials}" layout="row" flex>
                <div class="data-group__cell line-header--group click" flex="30" ng-click="vm.showCommercials=!vm.showCommercials">
                    <span ng-if="!vm.showCommercials"><i class="material-icons">add</i>Commercial</span>
                    <span ng-if="vm.showCommercials"><i class="material-icons">remove</i>Commercial</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_1 + vm.c9_1 + vm.c10_1 + vm.c11_1 + vm.c12_1 + vm.c13_1 + vm.c14_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_2 + vm.c9_2 + vm.c10_2 + vm.c11_2 + vm.c12_2 + vm.c13_2 + vm.c14_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_3 + vm.c9_3 + vm.c10_3 + vm.c11_3 + vm.c12_3 + vm.c13_3 + vm.c14_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_4 + vm.c9_4 + vm.c10_4 + vm.c11_4 + vm.c12_4 + vm.c13_4 + vm.c14_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_1 + vm.c9_1 + vm.c10_1 + vm.c11_1 + vm.c12_1 + vm.c13_1 + vm.c14_1 + vm.c8_3 + vm.c9_3 + vm.c10_3 + vm.c11_3 + vm.c12_3 + vm.c13_3 + vm.c14_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_2 + vm.c9_2 + vm.c10_2 + vm.c11_2 + vm.c12_2 + vm.c13_2 + vm.c14_2 + vm.c8_4 + vm.c9_4 + vm.c10_4 + vm.c11_4 + vm.c12_4 + vm.c13_4 + vm.c14_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c8_2 + vm.c9_2 + vm.c10_2 + vm.c11_2 + vm.c12_2 + vm.c13_2 + vm.c14_2 + vm.c8_4 + vm.c9_4 + vm.c10_4 + vm.c11_4 + vm.c12_4 + vm.c13_4 + vm.c14_4)/(vm.c8_1 + vm.c9_1 + vm.c10_1 + vm.c11_1 + vm.c12_1 + vm.c13_1 + vm.c14_1 + vm.c8_3 + vm.c9_3 + vm.c10_3 + vm.c11_3 + vm.c12_3 + vm.c13_3 + vm.c14_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Customer Service </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c8_1" ng-init="vm.c8_1=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c8_2" ng-init="vm.c8_2=3" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c8_3" ng-init="vm.c8_3=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c8_4" ng-init="vm.c8_4=51" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_1 + vm.c8_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c8_2 + vm.c8_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c8_2 + vm.c8_4)/(vm.c8_1 + vm.c8_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Call Center</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c9_1" ng-init="vm.c9_1=14" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c9_2" ng-init="vm.c9_2=23" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c9_3" ng-init="vm.c9_3=12" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c9_4" ng-init="vm.c9_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c9_1 + vm.c9_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c9_2 + vm.c9_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c9_2 + vm.c9_4)/(vm.c9_1 + vm.c9_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Telesales</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c10_1" ng-init="vm.c10_1=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c10_2" ng-init="vm.c10_2=21" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c10_3" ng-init="vm.c10_3=12" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c10_4" ng-init="vm.c10_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c10_1 + vm.c10_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c10_2 + vm.c10_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c10_2 + vm.c10_4)/(vm.c10_1 + vm.c10_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Direct Sales</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c11_1" ng-init="vm.c11_1=33" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c11_2" ng-init="vm.c11_2=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c11_3" ng-init="vm.c11_3=77" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c11_4" ng-init="vm.c11_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c11_1 + vm.c11_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c11_2 + vm.c11_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c11_2 + vm.c11_4)/(vm.c11_1 + vm.c11_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Corporate Sales</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c12_1" ng-init="vm.c12_1=2" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c12_2" ng-init="vm.c12_2=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c12_3" ng-init="vm.c12_3=2" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c12_4" ng-init="vm.c12_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c12_1 + vm.c12_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c12_2 + vm.c12_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c12_2 + vm.c12_4)/(vm.c12_1 + vm.c12_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Marketing & Communication</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c13_1" ng-init="vm.c13_1=8" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c13_2" ng-init="vm.c13_2=11" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c13_3" ng-init="vm.c13_3=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c13_4" ng-init="vm.c13_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c13_1 + vm.c13_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c13_2 + vm.c13_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c13_2 + vm.c13_4)/(vm.c13_1 + vm.c13_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row data-group__row--last" layout="row" flex ng-show="vm.showCommercials">
                <div class="data-group__cell line-header" flex="30">Other Commercial</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c14_1" ng-init="vm.c14_1=4" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c14_2" ng-init="vm.c14_2=2" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c14_3" ng-init="vm.c14_3=3" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c14_4" ng-init="vm.c14_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c14_1 + vm.c14_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c14_2 + vm.c14_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c14_2 + vm.c14_4)/(vm.c14_1 + vm.c14_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
        </div>

        <div class="data-splitter"></div>

        <!-- Office functions -->
        <div class="data-group brown-cells" flex="100">
            <div class="data-group__row" ng-class="{'data-group__row--last':!vm.showOfficeFunctions}" layout="row" flex>
                <div class="data-group__cell line-header--group click" flex="30" ng-click="vm.showOfficeFunctions=!vm.showOfficeFunctions">
                    <span ng-if="!vm.showOfficeFunctions"><i class="material-icons">add</i>Office Functions</span>
                    <span ng-if="vm.showOfficeFunctions"><i class="material-icons">remove</i>Office Functions</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_1 + vm.c16_1 + vm.c17_1 + vm.c18_1 + vm.c19_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_2 + vm.c16_2 + vm.c17_2 + vm.c18_2 + vm.c19_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_3 + vm.c16_3 + vm.c17_3 + vm.c18_3 + vm.c19_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_4 + vm.c16_4 + vm.c17_4 + vm.c18_4 + vm.c19_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_1 + vm.c16_1 + vm.c17_1 + vm.c18_1 + vm.c19_1 + vm.c15_3 + vm.c16_3 + vm.c17_3 + vm.c18_3 + vm.c19_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_2 + vm.c16_2 + vm.c17_2 + vm.c18_2 + vm.c19_2 + vm.c15_4 + vm.c16_4 + vm.c17_4 + vm.c18_4 + vm.c19_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c15_2 + vm.c16_2 + vm.c17_2 + vm.c18_2 + vm.c19_2 + vm.c15_4 + vm.c16_4 + vm.c17_4 + vm.c18_4 + vm.c19_4)/(vm.c15_1 + vm.c16_1 + vm.c17_1 + vm.c18_1 + vm.c19_1 + vm.c15_3 + vm.c16_3 + vm.c17_3 + vm.c18_3 + vm.c19_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOfficeFunctions">
                <div class="data-group__cell line-header" flex="30">Finance</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c15_1" ng-init="vm.c15_1=4" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c15_2" ng-init="vm.c15_2=21" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c15_3" ng-init="vm.c15_3=3" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c15_4" ng-init="vm.c15_4=15" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_1 + vm.c15_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c15_2 + vm.c15_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c15_2 + vm.c15_4)/(vm.c15_1 + vm.c15_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOfficeFunctions">
                <div class="data-group__cell line-header" flex="30">Legal</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c16_1" ng-init="vm.c16_1=4" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c16_2" ng-init="vm.c16_2=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c16_3" ng-init="vm.c16_3=13" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c16_4" ng-init="vm.c16_4=51" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c16_1 + vm.c16_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c16_2 + vm.c16_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c16_2 + vm.c16_4)/(vm.c16_1 + vm.c16_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOfficeFunctions">
                <div class="data-group__cell line-header" flex="30">HR</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c17_1" ng-init="vm.c17_1=14" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c17_2" ng-init="vm.c17_2=12" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c17_3" ng-init="vm.c17_3=13" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c17_4" ng-init="vm.c17_4=5" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c17_1 + vm.c17_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c17_2 + vm.c17_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c17_2 + vm.c17_4)/(vm.c17_1 + vm.c17_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row" layout="row" flex ng-show="vm.showOfficeFunctions">
                <div class="data-group__cell line-header" flex="30">IT</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c18_1" ng-init="vm.c18_1=4" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c18_2" ng-init="vm.c18_2=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c18_3" ng-init="vm.c18_3=31" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c18_4" ng-init="vm.c18_4=15" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c18_1 + vm.c18_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c18_2 + vm.c18_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c18_2 + vm.c18_4)/(vm.c18_1 + vm.c18_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
            <div class="data-group__row data-group__row--last" layout="row" flex ng-show="vm.showOfficeFunctions">
                <div class="data-group__cell line-header" flex="30">Other Office Functions</div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c19_1" ng-init="vm.c19_1=42" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c19_2" ng-init="vm.c19_2=22" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c19_3" ng-init="vm.c19_3=31" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <input type="number" ng-disabled="!vm.isLocal" ng-model="vm.c19_4" ng-init="vm.c19_4=52" flex>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c19_1 + vm.c19_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">{{vm.c19_2 + vm.c19_4 || 0}}</span>
                </div>
                <div class="data-group__cell data-group__cell--last" flex>
                    <span class="total">{{(vm.c19_2 + vm.c19_4)/(vm.c19_1 + vm.c19_3)*100 || 0 | number:0}}%</span>
                </div>
            </div>
        </div>

        <div class="data-splitter"></div>

        <!-- Non-medical -->
        <div class="data-group purple-cells" flex="100">
            <div class="data-group__row data-group__row--last" layout="row" flex>
                <div class="data-group__cell line-header--group" flex="30">
                    Non-medical Total
                    <md-tooltip md-direction="right">
                        Totals of Operations Non-medical + Commercial + Office Functions
                    </md-tooltip>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">
                        {{vm.c6_1 + vm.c7_1 + vm.c8_1 + vm.c9_1 + vm.c10_1 + vm.c11_1 + vm.c12_1 + vm.c13_1 + vm.c14_1 + vm.c15_1 + vm.c16_1 + vm.c17_1 + vm.c18_1 + vm.c19_1 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">
                        {{vm.c6_2 + vm.c7_2 + vm.c8_2 + vm.c9_2 + vm.c10_2 + vm.c11_2 + vm.c12_2 + vm.c13_2 + vm.c14_2 + vm.c15_2 + vm.c16_2 + vm.c17_2 + vm.c18_2 + vm.c19_2 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">
                        {{vm.c6_3 + vm.c7_3 + vm.c8_3 + vm.c9_3 + vm.c10_3 + vm.c11_3 + vm.c12_3 + vm.c13_3 + vm.c14_3 + vm.c15_3 + vm.c16_3 + vm.c17_3 + vm.c18_3 + vm.c19_3 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">
                        {{vm.c6_4 + vm.c7_4 + vm.c8_4 + vm.c9_4 + vm.c10_4 + vm.c11_4 + vm.c12_4 + vm.c13_4 + vm.c14_4 + vm.c15_4 + vm.c16_4 + vm.c17_4 + vm.c18_4 + vm.c19_4 || 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">
                        {{vm.c6_1 + vm.c7_1 + vm.c8_1 + vm.c9_1 + vm.c10_1 + vm.c11_1 + vm.c12_1 + vm.c13_1 + vm.c14_1 + vm.c15_1 + vm.c16_1 + vm.c17_1 + vm.c18_1 + vm.c19_1 + vm.c6_3 + vm.c7_3 + vm.c8_3 + vm.c9_3 + vm.c10_3 + vm.c11_3 + vm.c12_3 + vm.c13_3 + vm.c14_3 + vm.c15_3 + vm.c16_3 + vm.c17_3 + vm.c18_3 + vm.c19_3|| 0}}</span>
                </div>
                <div class="data-group__cell" flex="10">
                    <span class="total">
                        {{vm.c6_2 + vm.c7_2 + vm.c8_2 + vm.c9_2 + vm.c10_2 + vm.c11_2 + vm.c12_2 + vm.c13_2 + vm.c14_2 + vm.c15_2 + vm.c16_2 + vm.c17_2 + vm.c18_2 + vm.c19_2 + vm.c6_4 + vm.c7_4 + vm.c8_4 + vm.c9_4 + vm.c10_4 + vm.c11_4 + vm.c12_4 + vm.c13_4 + vm.c14_4 + vm.c15_4 + vm.c16_4 + vm.c17_4 + vm.c18_4 + vm.c19_4 || 0}}</span>
                </div>
            </div>
        </div>

    </div>
</md-content>