/**
 * COMPONENTS ACTION TOOLBAR
 */
 
 .action-toolbar {
     position: fixed;
     bottom: 10px;
     right: 10px;
     
     display: block;
     min-width: 100px;
     padding: 10px;
 }