.mdl-data-table {
    th {
        padding-top: 8px;
        font-weight: 800;
        border: solid 1px @grey-300;
    }
    th, td {
        text-align: center;
        //vertical-align: middle;
        border: solid 1px @grey-300;
    }
    td {
        padding: 0;
        padding-right: 10px;
        &:hover {
            background-color: transparent;
        }
    }
    tr {
        &:hover {
            background-color: transparent!important;
        }
    }
    
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0;
    }    
    input[type=number] {
        border: none;
        padding: 15px 30px;
        outline: none;                
    }
    th {
        &:last-child {
            padding-right: 18px;
        }
    }
    td {
        &:last-child {
            padding-right: 0;
        }
    }
}

.tr-total {
    border-top: solid 2px @grey-300;
    &.no-icon {
    td:first-child {
            padding-left: 36px;
        }    
    }
    &--link {
        //cursor: pointer;
        outline: none;
    }
    td:first-child {
        padding-left: 5px;
    }
    
    td {
        //background-color: @grey-50;
        //border-top:    solid 1px @blue-800;
        //border-bottom: solid 1px @blue-800;
        //border-left:   solid 1px transparent;
        //border-right:  solid 1px transparent;
        font-weight: 800;
    }
    .material-icons {
        vertical-align: bottom;
        margin-right: 5px;
    }
    
    &__detail {
        td:first-child {
            padding-left: 50px;
        }
        tr:last-child {
            border-bottom: solid 2px @grey-300;
        }
        
        td > input {
            text-align: center;
        }
    }
}

.mdl-data-table input[type=number] {
    border: none;
    padding: 15px;
    outline: none;
    width: 30px;
}

// .blue-cells {    
//     &tr, td, input {
//         background-color: @blue-100;
//         border-color: @blue-400;
        
//         &:hover {
//             background: transparent!important;
//         }
//     }
// }
// .green-cells {    
//     &tr, td, input {
//         background-color: @teal-100;
//         border-color: @teal-400;
        
//         &:hover {
//             background: transparent!important;
//         }
//     }
// }
// .orange-cells {    
//     &tr, td, input {
//         background-color: @orange-100;
//         border-color: @orange-400;
        
//         &:hover {
//             background: transparent!important;
//         }
//     }
// }

// .brown-cells {    
//     &tr, td, input {
//         background-color: @brown-100;
//         border-color: @brown-400;
        
//         &:hover {
//             background: transparent!important;
//         }
//     }
// }

// .purple-cells {    
//     &tr, td, input {
//         background-color: @deeppurple-100;
//         border-color: @deeppurple-400;
        
//         &:hover {
//             background: transparent!important;
//         }
//     }
// }